<header>
    <div class="row">
    <div class="col-sm-5">
      <img class="logo" src="/src/app/images/logo.png" />
    </div>
    <div class="col-sm-7">
      <ul>
        <li><img src="/src/app/images/search.png" /></li>
        <li><img src="/src/app/images/notification.png"><span class="notification">61</span></li>
        <li class="user-profile">
          <div class="user-info"><img src="/src/app/images/userprofile.png" /><h3>Juliana Perez <span class="font-400">(Analista)</span> <br /><span>Citi Colombia</span></h3><img src="/src/app/images/user-dropdown.png" class="user-option"></div>
        </li>
      </ul>
    </div>
    </div>
  </header>