<section class="breadcrumb-container">
		<div class="row align-items-start">
		<div class="col-sm-6">
			<h2>Reclamo</h2>
			<h4>Inicio > Mi Lista > Formulacion reclamos Entidad</h4>
		</div>
		</div>
	</section>
	<section class="tab-container">
		<ul>
			<li class="lista-comun active">Formulacion Reclamos Entidad</li>
			<li class="mi-lista">Formulacion Reclamos Masivos</li>
			<li class="mi-lista">Cierre Reclamos Masivos</li>
		</ul>
	</section>
	<section class="obligacion-info acc-info">
		<div class="page-card">
			<h3 class="heading">Formulario de consulta de obligaciones por titular <span>(El campo marcado con "<i>*</i>" es obligatorio)</span></h3>
			<div class="formulario-field form-element">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-12">
					<h5>Tipo Identification <span>*</span></h5>
					<select class="form-control">
						<option>Seleccionar</option>
						<option>Seleccionar</option>
						<option>Seleccionar</option>
					</select>
				</div>
				<div class="col-md-3 col-sm-4 col-12">
					<h5>Numero de Identificacion <span>*</span></h5>
					<input type="text" class="form-control" value="" />
				</div>
				<div class="col-md-3 col-sm-4 col-12">
					<h5>Tipo de cartera</h5>
					<input type="text" class="form-control" value="" />
				</div>
				<div class="col-md-3 col-sm-4 col-12">
					<h5>Numero de obligacion</h5>
					<input type="text" class="form-control" value="" />
				</div>
				<div class="col-md-3 col-sm-4 col-12">
					<h5>Numero de Caso</h5>
					<input type="text" class="form-control" value="" />
				</div>
				<div class="col-md-3 col-sm-4 col-12">
					<h5>Justificacion <span>*</span></h5>
					<select class="form-control">
						<option>Seleccionar</option>
						<option>Seleccionar</option>
						<option>Seleccionar</option>
					</select>
				</div>
			</div>
			</div>
		</div>
	</section>

	<div class="btn-container">
		<a href="redicar-modificacion.html" class="btn btn-primary pull-right">Enviar</a>
	</div>