
<ul>
    
    
    <li class="hamburger" id="sidebarCollapse">  
      
          <img src="/src/app/images/hamburger.png" />
          <label>Menu</label>       
      
    </li> 
    <li class="activarLi" >     
      <a routerLink="listas">   
        <img src="/src/app/images/menu_pipeline.png" />
        <label>Lista</label>       
      </a>            
    </li> 
    <li>     
      <a routerLink="reclamos">      
        <img src="/src/app/images/menu_dispute_sl.png" />
        <label>Reclamos</label>       
      </a>       
    </li> 
    <li>     
        <a routerLink="modificaciones">      
          <img src="/src/app/images/menu_modify.png" />
          <label>Modificaciones</label>       
        </a>       
      </li> 
</ul>

